<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bands</key>
	<array>
		<dict>
			<key>BandNumber</key>
			<integer>1</integer>
			<key>BandName</key>
			<string>2.1 GHz</string>
			<key>UpFreq1</key>
			<integer>1920</integer>
			<key>UpFreq2</key>
			<integer>1980</integer>
			<key>DownFreq1</key>
			<integer>2110</integer>
			<key>DownFreq2</key>
			<integer>2170</integer>
			<key>BandWidth</key>
			<integer>60</integer>
			<key>BandGap</key>
			<integer>130</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Glo Mobile</string>
					<key>Country</key>
					<string>Nigeria</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>2</integer>
			<key>BandName</key>
			<string>US PCS 1900</string>
			<key>UpFreq1</key>
			<integer>1850</integer>
			<key>UpFreq2</key>
			<integer>1910</integer>
			<key>DownFreq1</key>
			<integer>1930</integer>
			<key>DownFreq2</key>
			<integer>1990</integer>
			<key>BandWidth</key>
			<integer>60</integer>
			<key>BandGap</key>
			<integer>20</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Metro PCS</string>
					<key>Country</key>
					<string>US</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>3</integer>
			<key>BandName</key>
			<string>1.8 GHz</string>
			<key>UpFreq1</key>
			<integer>1710</integer>
			<key>UpFreq2</key>
			<integer>1785</integer>
			<key>DownFreq1</key>
			<integer>1805</integer>
			<key>DownFreq2</key>
			<integer>1880</integer>
			<key>BandWidth</key>
			<integer>75</integer>
			<key>BandGap</key>
			<integer>20</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Telstra</string>
					<key>Country</key>
					<string>Australia</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Proximus</string>
					<key>Country</key>
					<string>Belgium</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Elisa</string>
					<key>Country</key>
					<string>Finland</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>T-Mobile</string>
					<key>Country</key>
					<string>Hungary</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>TeliaSonera / LMT</string>
					<key>Country</key>
					<string>Lithuania</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>TeliaSonera / Omnitel</string>
					<key>Country</key>
					<string>Lithuania</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Centernet Wrodzinie / Mobyland / Eutelia</string>
					<key>Country</key>
					<string>Poland</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>MobileOne / M1</string>
					<key>Country</key>
					<string>Singapole</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Singapore Telecommunications / SingTel</string>
					<key>Country</key>
					<string>Singapole</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>KT</string>
					<key>Country</key>
					<string>Korea</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>4</integer>
			<key>BandName</key>
			<string>AWS</string>
			<key>UpFreq1</key>
			<integer>1710</integer>
			<key>UpFreq2</key>
			<integer>1755</integer>
			<key>DownFreq1</key>
			<integer>2110</integer>
			<key>DownFreq2</key>
			<integer>2155</integer>
			<key>BandWidth</key>
			<integer>45</integer>
			<key>BandGap</key>
			<integer>355</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Rogers Wireless</string>
					<key>Country</key>
					<string>Canada</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Telus</string>
					<key>Country</key>
					<string>Canada</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>AT&amp;T Mobility</string>
					<key>Country</key>
					<string>Puerto Rico</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>AT&amp;T Mobility</string>
					<key>Country</key>
					<string>US</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Metro PCS</string>
					<key>Country</key>
					<string>US</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Cricket Wireless</string>
					<key>Country</key>
					<string>US</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>5</integer>
			<key>BandName</key>
			<string>850 MHz</string>
			<key>UpFreq1</key>
			<integer>824</integer>
			<key>UpFreq2</key>
			<integer>849</integer>
			<key>DownFreq1</key>
			<integer>869</integer>
			<key>DownFreq2</key>
			<integer>894</integer>
			<key>BandWidth</key>
			<integer>25</integer>
			<key>BandGap</key>
			<integer>20</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SKT</string>
					<key>Country</key>
					<string>Korea</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>LG U+</string>
					<key>Country</key>
					<string>Korea</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>6</integer>
			<key>BandName</key>
			<string>Band 6</string>
			<key>UpFreq1</key>
			<integer>830</integer>
			<key>UpFreq2</key>
			<integer>840</integer>
			<key>DownFreq1</key>
			<integer>875</integer>
			<key>DownFreq2</key>
			<integer>885</integer>
			<key>BandWidth</key>
			<integer>10</integer>
			<key>BandGap</key>
			<integer>25</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>7</integer>
			<key>BandName</key>
			<string>2.6 GHz</string>
			<key>UpFreq1</key>
			<integer>2500</integer>
			<key>UpFreq2</key>
			<integer>2570</integer>
			<key>DownFreq1</key>
			<integer>2620</integer>
			<key>DownFreq2</key>
			<integer>2690</integer>
			<key>BandWidth</key>
			<integer>70</integer>
			<key>BandGap</key>
			<integer>50</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>K-Telecom</string>
					<key>Country</key>
					<string>Armenia</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Telekom Austria</string>
					<key>Country</key>
					<string>Austria</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>T-Mobile</string>
					<key>Country</key>
					<string>Austria</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>TeliaSonera</string>
					<key>Country</key>
					<string>Denmark</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>EMT</string>
					<key>Country</key>
					<string>Estonia</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Elisa</string>
					<key>Country</key>
					<string>Finland</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>TeliaSonera</string>
					<key>Country</key>
					<string>Finland</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>O2</string>
					<key>Country</key>
					<string>Germany</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>CSL</string>
					<key>Country</key>
					<string>Hong Kong</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Saima-Telecom</string>
					<key>Country</key>
					<string>Kyrgyzstan</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>TeliaSonera / Omnitel</string>
					<key>Country</key>
					<string>Lithuania</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>TeliaSonera / Netcom</string>
					<key>Country</key>
					<string>Norway</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Saudi Telecom</string>
					<key>Country</key>
					<string>Saudi Arabia</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>M1 / Mobile One</string>
					<key>Country</key>
					<string>Singapole</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Telenor / Tele2</string>
					<key>Country</key>
					<string>Sweden</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>TeliaSonera</string>
					<key>Country</key>
					<string>Sweden</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>MTS-Uzbekistan</string>
					<key>Country</key>
					<string>Uzbekistan</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>UCell / TeliaSonera</string>
					<key>Country</key>
					<string>Uzbekistan</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>8</integer>
			<key>BandName</key>
			<string>900 MHz</string>
			<key>UpFreq1</key>
			<integer>880</integer>
			<key>UpFreq2</key>
			<integer>915</integer>
			<key>DownFreq1</key>
			<integer>925</integer>
			<key>DownFreq2</key>
			<integer>960</integer>
			<key>BandWidth</key>
			<integer>35</integer>
			<key>BandGap</key>
			<integer>10</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>KT</string>
					<key>Country</key>
					<string>Korea</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Telenor / Tele2 / Net4Mobility</string>
					<key>Country</key>
					<string>Sweden</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>9</integer>
			<key>BandName</key>
			<string>1700 MHz</string>
			<key>UpFreq1</key>
			<integer>1749</integer>
			<key>UpFreq2</key>
			<integer>1784</integer>
			<key>DownFreq1</key>
			<integer>1844</integer>
			<key>DownFreq2</key>
			<integer>1879</integer>
			<key>BandWidth</key>
			<integer>35</integer>
			<key>BandGap</key>
			<integer>60</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>10</integer>
			<key>BandName</key>
			<string>Extended AWS</string>
			<key>UpFreq1</key>
			<integer>1710</integer>
			<key>UpFreq2</key>
			<integer>1770</integer>
			<key>DownFreq1</key>
			<integer>2110</integer>
			<key>DownFreq2</key>
			<integer>2170</integer>
			<key>BandWidth</key>
			<integer>60</integer>
			<key>BandGap</key>
			<integer>340</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>11</integer>
			<key>BandName</key>
			<string>Japan 1.5 GHz</string>
			<key>UpFreq1</key>
			<integer>1427</integer>
			<key>UpFreq2</key>
			<integer>1452</integer>
			<key>DownFreq1</key>
			<integer>1475</integer>
			<key>DownFreq2</key>
			<integer>1500</integer>
			<key>BandWidth</key>
			<integer>20</integer>
			<key>BandGap</key>
			<integer>28</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>NTT DoCoMo</string>
					<key>Country</key>
					<string>Japan</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>12</integer>
			<key>BandName</key>
			<string>Lower 700 MHz, A+B+C</string>
			<key>UpFreq1</key>
			<integer>698</integer>
			<key>UpFreq2</key>
			<integer>716</integer>
			<key>DownFreq1</key>
			<integer>728</integer>
			<key>DownFreq2</key>
			<integer>746</integer>
			<key>BandWidth</key>
			<integer>18</integer>
			<key>BandGap</key>
			<integer>12</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Verizon</string>
					<key>Country</key>
					<string>US</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>13</integer>
			<key>BandName</key>
			<string>Upper 700 MHz</string>
			<key>UpFreq1</key>
			<integer>777</integer>
			<key>UpFreq2</key>
			<integer>787</integer>
			<key>DownFreq1</key>
			<integer>746</integer>
			<key>DownFreq2</key>
			<integer>756</integer>
			<key>BandWidth</key>
			<integer>10</integer>
			<key>BandGap</key>
			<integer>41</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Verizon</string>
					<key>Country</key>
					<string>US</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>MTS-Uzbekistan</string>
					<key>Country</key>
					<string>Uzbekistan</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>14</integer>
			<key>BandName</key>
			<string>Public Safety</string>
			<key>UpFreq1</key>
			<integer>788</integer>
			<key>UpFreq2</key>
			<integer>798</integer>
			<key>DownFreq1</key>
			<integer>758</integer>
			<key>DownFreq2</key>
			<integer>768</integer>
			<key>BandWidth</key>
			<integer>10</integer>
			<key>BandGap</key>
			<integer>40</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>15</integer>
			<key>BandName</key>
			<string>Band 15</string>
			<key>UpFreq1</key>
			<integer>1900</integer>
			<key>UpFreq2</key>
			<integer>1920</integer>
			<key>DownFreq1</key>
			<integer>2600</integer>
			<key>DownFreq2</key>
			<integer>2620</integer>
			<key>BandWidth</key>
			<integer>20</integer>
			<key>BandGap</key>
			<integer>680</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>16</integer>
			<key>BandName</key>
			<string>Band 16</string>
			<key>UpFreq1</key>
			<integer>2010</integer>
			<key>UpFreq2</key>
			<integer>2025</integer>
			<key>DownFreq1</key>
			<integer>2585</integer>
			<key>DownFreq2</key>
			<integer>2600</integer>
			<key>BandWidth</key>
			<integer>15</integer>
			<key>BandGap</key>
			<integer>560</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>17</integer>
			<key>BandName</key>
			<string>Lower 700 MHz, B+C</string>
			<key>UpFreq1</key>
			<integer>704</integer>
			<key>UpFreq2</key>
			<integer>716</integer>
			<key>DownFreq1</key>
			<integer>734</integer>
			<key>DownFreq2</key>
			<integer>746</integer>
			<key>BandWidth</key>
			<integer>12</integer>
			<key>BandGap</key>
			<integer>18</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>AT&amp;T Mobility</string>
					<key>Country</key>
					<string>US</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>18</integer>
			<key>BandName</key>
			<string>800 MHz</string>
			<key>UpFreq1</key>
			<integer>815</integer>
			<key>UpFreq2</key>
			<integer>830</integer>
			<key>DownFreq1</key>
			<integer>860</integer>
			<key>DownFreq2</key>
			<integer>875</integer>
			<key>BandWidth</key>
			<integer>15</integer>
			<key>BandGap</key>
			<integer>30</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>T-Mobile / Deutsche Telekom</string>
					<key>Country</key>
					<string>Germany</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>O2 / Telefonica</string>
					<key>Country</key>
					<string>Germany</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>TeliaSonera</string>
					<key>Country</key>
					<string>Sweden</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>19</integer>
			<key>BandName</key>
			<string>Digital Dividend</string>
			<key>UpFreq1</key>
			<integer>830</integer>
			<key>UpFreq2</key>
			<integer>845</integer>
			<key>DownFreq1</key>
			<integer>875</integer>
			<key>DownFreq2</key>
			<integer>890</integer>
			<key>BandWidth</key>
			<integer>15</integer>
			<key>BandGap</key>
			<integer>30</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Vodafone</string>
					<key>Country</key>
					<string>Germany</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>20</integer>
			<key>BandName</key>
			<string>850 MHz EDD</string>
			<key>UpFreq1</key>
			<integer>832</integer>
			<key>UpFreq2</key>
			<integer>862</integer>
			<key>DownFreq1</key>
			<integer>791</integer>
			<key>DownFreq2</key>
			<integer>821</integer>
			<key>BandWidth</key>
			<integer>30</integer>
			<key>BandGap</key>
			<integer>71</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>21</integer>
			<key>BandName</key>
			<string>1.5 GHz</string>
			<key>UpFreq1</key>
			<integer>1447</integer>
			<key>UpFreq2</key>
			<integer>1462</integer>
			<key>DownFreq1</key>
			<integer>1495</integer>
			<key>DownFreq2</key>
			<integer>1510</integer>
			<key>BandWidth</key>
			<integer>15</integer>
			<key>BandGap</key>
			<integer>33</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>22</integer>
			<key>BandName</key>
			<string>3.5 GHz</string>
			<key>UpFreq1</key>
			<integer>3410</integer>
			<key>UpFreq2</key>
			<integer>3500</integer>
			<key>DownFreq1</key>
			<integer>3510</integer>
			<key>DownFreq2</key>
			<integer>3600</integer>
			<key>BandWidth</key>
			<integer>90</integer>
			<key>BandGap</key>
			<integer>10</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>23</integer>
			<key>BandName</key>
			<string>2 GHz S-Band</string>
			<key>UpFreq1</key>
			<integer>2000</integer>
			<key>UpFreq2</key>
			<integer>2020</integer>
			<key>DownFreq1</key>
			<integer>2180</integer>
			<key>DownFreq2</key>
			<integer>2200</integer>
			<key>BandWidth</key>
			<integer>20</integer>
			<key>BandGap</key>
			<integer>160</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>24</integer>
			<key>BandName</key>
			<string>L Band</string>
			<key>UpFreq1</key>
			<integer>1625</integer>
			<key>UpFreq2</key>
			<integer>1660</integer>
			<key>DownFreq1</key>
			<integer>1525</integer>
			<key>DownFreq2</key>
			<integer>1559</integer>
			<key>BandWidth</key>
			<integer>34</integer>
			<key>BandGap</key>
			<integer>135</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>BandNumber</key>
			<integer>25</integer>
			<key>BandName</key>
			<string>US PCS + G Block</string>
			<key>UpFreq1</key>
			<integer>1850</integer>
			<key>UpFreq2</key>
			<integer>1915</integer>
			<key>DownFreq1</key>
			<integer>1930</integer>
			<key>DownFreq2</key>
			<integer>1995</integer>
			<key>BandWidth</key>
			<integer>65</integer>
			<key>BandGap</key>
			<integer>15</integer>
			<key>Carriers</key>
			<array>
				<dict>
					<key>Name</key>
					<string></string>
					<key>Country</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
